.petlist_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.petlist_header h1 {
    margin: 0;
}

.petlist_header a {
    text-decoration: none;
    background-color: var(--blue);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.5em 0.8em;
    border-radius: 5px;
    border: 2px solid var(--blue);
}

.petlist_header a:hover {
    background-color: transparent;
    color: var(--blue);
}

.petlist_container {
    display: flex;
    flex-direction: column;
}

.petlist_row {
    border-bottom: 1px solid var(--blue);
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
    width: 100%;
}

.petlist_row img {
    margin-right: 1em;
}

.petlist_row span {
    min-width: 100px;
}

.actions {
    margin-left: auto;
}

.actions a,
.actions button {
    text-decoration: none;
    background-color: #fff;
    color: var(--blue);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px 12px;
    border-radius: 5px;
    border: 2px solid var(--blue);
    font-size: 12px;
    margin-left: 1em;
}

.actions a:hover,
.actions button:hover {
    background-color: var(--blue);
    color: #fff;
}

.actions .conclude_btn {
    color: var(--confirm-green);
    border-color: var(--confirm-green);
}

.actions .conclude_btn:hover {
    color: #fff;
    background-color: var(--confirm-green);
}