.home-header {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.home-header h1 {
    margin-bottom: 1em;
}

.home-header span {
    color: #f6982d;
}

.home-header p,
.home-header form {
    margin-bottom: 1.2em;
}

.home-header input {
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
    margin-right: 1em;
}

.home-header input[type='text'] {
    width: 60%;
}

.home-header input::placeholder {
    color: #fff;
}

.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 1em;
}

.order-container span {
    font-weight: bold;
    color: #fff;
}

.order-container form {
    margin: 0;
}

.order-container button {
    margin-bottom: 0;
    border: none;
    cursor: pointer;
}

.order-container button,
.order-container a,
.order-container i {
    margin: 0 7px;
}

.order-container button:hover,
.order-container a:hover,
.order-container i:hover {
    color: #f6982d;
}

.thoughts-container figure {
    border-bottom: 1px solid #333;
    padding: 0.5em;
    max-width: 50%;
    margin: 0 auto 1em;
}

.thoughts-container blockquote {
    font-style: italic;
    font-size: 2em;
    margin-bottom: 0.4em;
}

.thoughts-container span {
    color: #f6982d;
}