* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;

    background-color: #222;
    color: #fff;
}

.container {
    min-height: 60vh;
    padding: 2em;
}

footer {
    height: 150px;
    border-top: 1px solid #f6982d;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    font-weight: bold;
    color: #f6982d;
}